body{
    background-color: hsl(212, 45%, 89%);
}

#maindiv{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 19vw;
    margin-top: 8rem;
    height:60vh;
    background-color: white;
    border-radius: 0.95rem;
}
@media only screen and (max-width:500px){
    #maindiv{
        border-radius: 1.2rem;
        width: 85vw;
        height: 66vh;
        margin-top: 6rem;
        overflow: hidden;
    }
    #image{
        width: 76vw;
       height: 40vh;
       margin-top: 14px;
    }
    #heading{
        margin-left: 2.2rem;
    }
    #paragraph{
        padding-left: 2rem;
       font-size: 20px;
    }

}         
img{
    width: 17vw;
    height: 35vh;
    margin: auto;
    margin-top: 9px;
    border-radius: 0.5rem;
    color: hsl(218, 44%, 22%);
}

#content{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin-bottom: 5rem;
    margin-left: 2rem;
    font-size: 15px;
}

#paragraph{
    font-size: 11.5px;
    margin-left: 2px;
   margin-top: -4px;
   color: hsl(220, 15%, 55%);
   font-weight: 500;
}
span{
    padding-left: 55px;
}
#p{
    padding-left: 7px;
}